{% extends 'base.html.twig' %}

{% block body %}
	<div class="columns products is-multiline">
		{% for product in products %}
			<div class="column is-full product">
				<div class="sub-content">
					<figure class="image">
						<img src="{{product['image']}}"/>
					</figure>
					<div class="specification">
						<h2>{{ product['name'] }}</h2>
						<p>{{ product['specification'] }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
