<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello Kwantic</title>
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" rel="stylesheet">
			<link href="/assets/index.css" rel="stylesheet">
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<section class="section">
			<div class="container">
				<h1 class="title">
					Equipe pro
				</h1>
				{% block body %}{% endblock %}
			</div>
		</section>
	</body>
</html>
